<%= form_with model: product, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :price %>
  <%= form.text_field :price %>
  <fieldset>
    <legend>SubProducts:</legend>
    <%= form.fields_for :sub_products do |sub_product| %>
      <%= render "products/sub_product_fields", formats: [:html], form: sub_product %><br>
    <% end %><br>
<!--    <p><%#= form.link_to_add "Add a task", :sub_products %></p>-->
    <%= link_to_add_fields "Add Sub-Products", form, :sub_products %>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
